.sprite-champion-aatrox { background-position: -0px top; }
.sprite-champion-ahri { background-position: -70px top; }
.sprite-champion-akali { background-position: -140px top; }
.sprite-champion-alistar { background-position: -210px top; }
.sprite-champion-amumu { background-position: -280px top; }
.sprite-champion-anivia { background-position: -350px top; }
.sprite-champion-annie { background-position: -420px top; }
.sprite-champion-ashe { background-position: -490px top; }
.sprite-champion-aurelion-sol { background-position: -560px top; }
.sprite-champion-azir { background-position: -630px top; }
.sprite-champion-bard { background-position: -700px top; }
.sprite-champion-blitzcrank { background-position: -770px top; }
.sprite-champion-brand { background-position: -840px top; }
.sprite-champion-braum { background-position: -910px top; }
.sprite-champion-caitlyn { background-position: -980px top; }
.sprite-champion-camille { background-position: -1050px top; }
.sprite-champion-cassiopeia { background-position: -1120px top; }
.sprite-champion-chogath { background-position: -1190px top; }
.sprite-champion-corki { background-position: -1260px top; }
.sprite-champion-darius { background-position: -1330px top; }
.sprite-champion-diana { background-position: -1400px top; }
.sprite-champion-dr-mundo { background-position: -1470px top; }
.sprite-champion-draven { background-position: -1540px top; }
.sprite-champion-ekko { background-position: -1610px top; }
.sprite-champion-elise { background-position: -1680px top; }
.sprite-champion-evelynn { background-position: -1750px top; }
.sprite-champion-ezreal { background-position: -1820px top; }
.sprite-champion-fiddlesticks { background-position: -1890px top; }
.sprite-champion-fiora { background-position: -1960px top; }
.sprite-champion-fizz { background-position: -2030px top; }
.sprite-champion-galio { background-position: -2100px top; }
.sprite-champion-gangplank { background-position: -2170px top; }
.sprite-champion-garen { background-position: -2240px top; }
.sprite-champion-gnar { background-position: -2310px top; }
.sprite-champion-gragas { background-position: -2380px top; }
.sprite-champion-graves { background-position: -2450px top; }
.sprite-champion-hecarim { background-position: -2520px top; }
.sprite-champion-heimerdinger { background-position: -2590px top; }
.sprite-champion-illaoi { background-position: -2660px top; }
.sprite-champion-irelia { background-position: -2730px top; }
.sprite-champion-ivern { background-position: -2800px top; }
.sprite-champion-janna { background-position: -2870px top; }
.sprite-champion-jarvan-iv { background-position: -2940px top; }
.sprite-champion-jax { background-position: -3010px top; }
.sprite-champion-jayce { background-position: -3080px top; }
.sprite-champion-jhin { background-position: -3150px top; }
.sprite-champion-jinx { background-position: -3220px top; }
.sprite-champion-kalista { background-position: -3290px top; }
.sprite-champion-karma { background-position: -3360px top; }
.sprite-champion-karthus { background-position: -3430px top; }
.sprite-champion-kassadin { background-position: -3500px top; }
.sprite-champion-katarina { background-position: -3570px top; }
.sprite-champion-kayle { background-position: -3640px top; }
.sprite-champion-kennen { background-position: -3710px top; }
.sprite-champion-khazix { background-position: -3780px top; }
.sprite-champion-kindred { background-position: -3850px top; }
.sprite-champion-kled { background-position: -3920px top; }
.sprite-champion-kogmaw { background-position: -3990px top; }
.sprite-champion-leblanc { background-position: -4060px top; }
.sprite-champion-lee-sin { background-position: -4130px top; }
.sprite-champion-leona { background-position: -4200px top; }
.sprite-champion-lissandra { background-position: -4270px top; }
.sprite-champion-lucian { background-position: -4340px top; }
.sprite-champion-lulu { background-position: -4410px top; }
.sprite-champion-lux { background-position: -4480px top; }
.sprite-champion-malphite { background-position: -4550px top; }
.sprite-champion-malzahar { background-position: -4620px top; }
.sprite-champion-maokai { background-position: -4690px top; }
.sprite-champion-master-yi { background-position: -4760px top; }
.sprite-champion-miss-fortune { background-position: -4830px top; }
.sprite-champion-mordekaiser { background-position: -4900px top; }
.sprite-champion-morgana { background-position: -4970px top; }
.sprite-champion-nami { background-position: -5040px top; }
.sprite-champion-nasus { background-position: -5110px top; }
.sprite-champion-nautilus { background-position: -5180px top; }
.sprite-champion-nidalee { background-position: -5250px top; }
.sprite-champion-nocturne { background-position: -5320px top; }
.sprite-champion-nunu { background-position: -5390px top; }
.sprite-champion-olaf { background-position: -5460px top; }
.sprite-champion-orianna { background-position: -5530px top; }
.sprite-champion-pantheon { background-position: -5600px top; }
.sprite-champion-poppy { background-position: -5670px top; }
.sprite-champion-quinn { background-position: -5740px top; }
.sprite-champion-rammus { background-position: -5810px top; }
.sprite-champion-reksai { background-position: -5880px top; }
.sprite-champion-renekton { background-position: -5950px top; }
.sprite-champion-rengar { background-position: -6020px top; }
.sprite-champion-riven { background-position: -6090px top; }
.sprite-champion-rumble { background-position: -6160px top; }
.sprite-champion-ryze { background-position: -6230px top; }
.sprite-champion-sejuani { background-position: -6300px top; }
.sprite-champion-shaco { background-position: -6370px top; }
.sprite-champion-shen { background-position: -6440px top; }
.sprite-champion-shyvana { background-position: -6510px top; }
.sprite-champion-singed { background-position: -6580px top; }
.sprite-champion-sion { background-position: -6650px top; }
.sprite-champion-sivir { background-position: -6720px top; }
.sprite-champion-skarner { background-position: -6790px top; }
.sprite-champion-sona { background-position: -6860px top; }
.sprite-champion-soraka { background-position: -6930px top; }
.sprite-champion-swain { background-position: -7000px top; }
.sprite-champion-syndra { background-position: -7070px top; }
.sprite-champion-tahm-kench { background-position: -7140px top; }
.sprite-champion-taliyah { background-position: -7210px top; }
.sprite-champion-talon { background-position: -7280px top; }
.sprite-champion-taric { background-position: -7350px top; }
.sprite-champion-teemo { background-position: -7420px top; }
.sprite-champion-thresh { background-position: -7490px top; }
.sprite-champion-tristana { background-position: -7560px top; }
.sprite-champion-trundle { background-position: -7630px top; }
.sprite-champion-tryndamere { background-position: -7700px top; }
.sprite-champion-twisted-fate { background-position: -7770px top; }
.sprite-champion-twitch { background-position: -7840px top; }
.sprite-champion-udyr { background-position: -7910px top; }
.sprite-champion-urgot { background-position: -7980px top; }
.sprite-champion-varus { background-position: -8050px top; }
.sprite-champion-vayne { background-position: -8120px top; }
.sprite-champion-veigar { background-position: -8190px top; }
.sprite-champion-velkoz { background-position: -8260px top; }
.sprite-champion-vi { background-position: -8330px top; }
.sprite-champion-viktor { background-position: -8400px top; }
.sprite-champion-vladimir { background-position: -8470px top; }
.sprite-champion-volibear { background-position: -8540px top; }
.sprite-champion-warwick { background-position: -8610px top; }
.sprite-champion-wukong { background-position: -8680px top; }
.sprite-champion-xerath { background-position: -8750px top; }
.sprite-champion-xin-zhao { background-position: -8820px top; }
.sprite-champion-yasuo { background-position: -8890px top; }
.sprite-champion-yorick { background-position: -8960px top; }
.sprite-champion-zac { background-position: -9030px top; }
.sprite-champion-zed { background-position: -9100px top; }
.sprite-champion-ziggs { background-position: -9170px top; }
.sprite-champion-zilean { background-position: -9240px top; }
.sprite-champion-zyra { background-position: -9310px top; }
