.log-btn {
  padding: 10px 0 0 0;
}
.log-btn input {
  display: inline-block;
  vertical-align: middle;
}
.log-btn .btn-log-with {
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  background: none;
  border: 1px solid #FF8D32;
  color: #FF8D32;
  height: 23px;
  line-height: 18px;
  padding: 0 10px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-left: 15px;
  cursor: pointer;
}
.log-btn .btn-log-with:hover {
  background: #FF8D32;
  color: #fff;
}